.grade_row{
	background-color: #CCC;
	
}
.grade_box{
	width:100%;
	
}
.grade_box>div.bar{
	width: 100%;
	position: relative;
	
	height:20px;
}
.bar{
	display: none;
}
.grade_bar{
	height:20px;
	position: absolute;
	left:0px;
	display: none;
}
.bar_desc{
	float:right;
	font-size: 16px;
}
.F{
	background-color: #f00;
	color:#0c0;
}
.C-{
	background-color: #cf0;
	color:#30f;
}
.C{
	background-color: #4fee00;
	color:#9f00ee;
}
.Cp{
	background-color: #00dd1d;
	color:#dd00c0;
}
.B-{
	background-color: #00d44e;
	color:#d40086;
}
.B{
	background-color: #00c4a3;
	color:#c40021;
}
.Bp{
	background-color: #007db3;
	color:#b33600;
}
.A-{
	background-color: #000099;
	color:#999900;
}
.A{
	background-color: #5b00aa;
	color:#4faa00;
}
.Ap{
	background-color: #bb00af;
	color:#00bb0c;
}