.grade_row{
	background-color: #CCC;
}
.grade_box{
	width:100%;
}
.grade_box>div.option{
	margin-left: 0px;
}
.grade_class_id{
	width:30px;
}
.option,.tname{
	font-size: 18px;	
}
.grade_box>div.bar{
	width: 100%;
	position: relative;
	height:40px;
	display: none;
}
.text{
	font-size: 18px;
}
.grade_bar{
	position: absolute;
	right:0px;
	display: none;
	border-radius: 5px;
	padding-left: 3px;
}
.bar_desc{
	float: left;
	font-size: 16px;
	text-align: left;
}
.F{	
	background-color: #f00;
	color:#0c0;
}
.C-{
	background-color: #cf0;
	color:#30f;
}
.C{
	background-color: #4fee00;
	color:#9f00ee;
}
.Cp{
	background-color: #00dd1d;
	color:#dd00c0;
}
.B-{
	background-color: #00d44e;
	color:#d40086;
}
.B{
	background-color: #00a4b3;
	color:#c40021;
}
.Bp{
	background-color: #007db3;
	color:#f39600;
}
.A-{
	background-color: #003399;
	color:#CCCC00;
}
.A{
	background-color: #5b00aa;
	color:#4faa00;
}
.Ap{
	background-color: #bb00af;
	color:#00bb0c;
}